.fullPage {
    position: absolute;
    width: 100%;
    z-index: 1010;
    top: 100vh;
    left: 0;
    background: white;
    text-align: center;
}

.nav {
    position: relative;
    left: 0;
    width: 100%;
    padding: 75px 20px 0 20px;

}

.grid {
    padding: 175px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 650px) {
    .grid {
        padding: 50px 2.5%;
    }
}