.fullPage {
    height: 100vh;
}

.searchContainer {
    padding: 10px;
    width: calc(100%-20px);
    text-align: left;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.nft {
    position: relative;
    width: 20%;
    cursor: pointer;
}

.nft:hover {
    background-color: black;
}



.nft img {
    max-width: 100%;
    min-height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayText {
    color: white;
    font-size: 20px;
}

.nft:hover .overlay {
    opacity: 0.8;
}