.fullPage {
    position: absolute;
    width: 100%;
    z-index: 1010;
    top: 100vh;
    left: 0;
    background: white;
}

.nav {
    position: relative;
    left: 0;
    width: 100%;
    height: 20vh;
}

.grid {
    min-height: 100vh;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nft {
    position: relative;
    width: 33%;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .nft {
        width: 100%;
    }
}

.nft:hover {
    background-color: black;
}


.nft img {
    max-width: 100%;
    min-height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayText {
    color: white;
    font-size: 20px;
}

.nft:hover .overlay {
    opacity: 0.8;
}