.App {
  background-color: #FFFFFF;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo {
  height: 48vmin;
  pointer-events: none;
}

.enter-container {
  padding-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-root {
  border-radius: 4px;
}

.enter-button {
  padding-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
